#main-content{

    max-width: 520px;
    max-height: 550px;
    padding: 10px;

    margin: 50px auto;
}
#title {

    padding: 20px;
    text-align: center;
}
#choices {
    text-align: center;
}
.buttons {
    padding: 5px;
    cursor: pointer;
    background-color: skyblue;
    border-radius: 10px;
    text-decoration: none;
}

.buttons:hover{

    background-color: bisque;

}

#head {
    position: relative;
} 

#timer {
float: left;
margin-left: 20%
}

#timeleft {
    float: right;

    margin-right: 20%
}
.input {
    margin: 15px;
}
@media screen, (max-width:888px){
    #head{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 75vw;
        margin: auto;
    }
    #main-content{
        margin-top: 0px;
    }
    #timer {
        float: left;
        margin-left: 5%;
        margin-top: 50px;
        }
        
    #timeleft {
            float: right;
        
            margin-right: 0%;
            margin-top:50px;
            text-align: end;
        }
}
@media screen, (max-width:600px){
    #main-content{
    max-width: 70vw;
    }
    #timer {
        float: left;
        margin-left: 3%
        }
        
    #timeleft {
            float: right;
            margin-right: 0%
        }
}


