#main-content{

    width: 520px;
    height: 520px;
    padding: 10px;

    margin: 50px auto;
}
#title {

    padding: 20px;
    text-align: center;
}

.buttons {
    padding: 5px;
    cursor: pointer;
    background-color: skyblue;
    border-radius: 10px;
}

.buttons:hover{

    background-color: bisque;

}

#head {
    position: relative;
} 

#timer {
float: left;
margin-left: 20%
}

#timeleft {
    float: right;

    margin-right: 20%
}

